<div class="navbar navbar-inverse navbar-static-bottom">
  <div class="container footer">
    <div class="col-xs-12 col-sm-10 col-md-8 no-padding">
      <span class="navbar-text">
        The Modulr Account is provided by PrePay Technologies Limited, regulated by the Financial Conduct Authority for issuance
        of electronic money (FRN 900010).
      </span>
      <span class="navbar-text">
        Modulr Technology Limited, 1 Hammersmith Broadway, London, W6 9DL Registered in England No 09897906 © 2016 Modulr Techonology
        Limited
      </span>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-4 no-padding">
        <img src="assets/images/footer-logo.svg" class="footer-logo img-responsive pull-right" alt="">
    </div>
  </div>