$pebble-color: #5C686D;
$sand-color: #FEDF3B;
$wave-color: #3EA7DD;
$spray-color: #63F2CB;

$black-color: #A7A7A7;
$sun-color: #F5B146;
$tide-color: #8ACBEB;
$wash-color: #9FF7DF;

$set-color: #F09329;
$ocean-color: #1D70B7;
$lagon-color: #4DDCD9;
$light-grey-color: #C7C7C7;
$white-color: #FFFFFF;